.resultContent{
    min-height: 20vh;
    color: white;
    background-color: #1f48a7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultContent input {
    width: 25vw;
    text-align: center;
    height: 3vh;
    border-radius: 5px;
    border: unset;
}

.resultContent p {
    font-size: xx-large;
}